 
.tasks-board-items-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 2rem;
}

.tasks-board-container-sup{
	display: flex;
	align-items: center;
	justify-content: space-between;
 width: 280px;
	padding: 8px 12px;
	background-color: #ededed;
	border-radius: 6px;
	gap: 5rem;
	color: var(--small-text);
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.tasks-board-container-sup-icon{
		display: flex;
	align-items: center;
		gap: 1rem;
}

.BsFillRocketTake{
	display: flex;
	align-items: center;
		gap: 0.5rem;
}

.FiPlus-circle{
		display: flex;
		justify-content: center;
		align-items: center; 
		border-radius: 20px;
	 border: 1px solid #ededed; 
}
.FiPlus-circle:hover{
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid var(--small-text); 
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
}

/* .tasks-board-container-head{
	background-color: cadetblue; 
} */

.tasks-board-container-sup-card{
 border: 1px solid #cdd1d3;
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1rem; 
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--white); 
	height: 100px;
}
.tasks-board-container-sup-card:hover{
	border:1px solid  var(--accent-green);
	border-radius: 10px;
	padding: 1rem;
	margin-bottom: 1rem; 
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 

input[type=checkbox]:before {
  content: '';
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}

.tasks-board-container-sup-card-text{
	font-size: 14px;
	color: var(--small-text);
	font-weight: bold;
}


.tasks-board-container-second{
	display: flex;
	justify-content: space-between;
	align-items: center; 
}

.Ugent{
background-color: var(--accent-green-light);
color: var(--accent-green);
font-weight: bold;
padding: 4px 14px;
border-radius: 20px;
}

.Ugent-img{
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #ededed;
			display: flex; 
			justify-content: center;
	align-items: center;
	color: #c5c5c5;
}

.Ugent-container{
		display: flex; 
	align-items: center;
	gap: 10px;
}

.Ugent-img-text{
		color: var(--black);
	font-size: 16px;
}

.ugent_container{
	display: flex; 
	flex-direction: column;
	justify-content: space-between;
 align-items: center;
 gap: 10px;  
}

@media (max-width: 1200px) {
  .tasks-board-items-container {
 	display: grid;
	grid-template-columns: 1fr 1fr;
gap: 2rem;
  }
}

@media (max-width: 768px) {
  .tasks-board-items-container {
   	display: grid;
	grid-template-columns: 1fr ;
gap: 2rem;
  }
}